asgiref
Brotli
certifi
charset-normalizer
click
colorama
contourpy
cycler
dj-database-url
Django
django-channels
fonttools
gunicorn
h11
idna
joblib
kiwisolver
matplotlib
mysqlclient
numpy
oauthlib
opencv-python
packaging
pandas
pillow
psycopg2
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
scikit-learn
scipy
six
sqlparse
threadpoolctl
typing-extensions
tzdata
urllib3
uvicorn
whitenoise